<template>
<div>
<p>Here are the details</p>
<ul>
    <li v-for="detail in details" :key="detail">{{detail}}</li>
</ul>
</div>
</template>

<script>
export default {
  name: 'Details',
  props: {
    details: {
      type: Array,
      required: true
    }
  }
}
</script>
