<template>
<div>

<div id="main">
    <div class="product">

        <div class="product-image">
            <img v-bind:src="image">
        </div>

        <div class="product-info">

            <h1>{{title}}</h1>

            <p v-if="quantity > 10">In stock</p>
            <p v-else-if="quantity <= 10 && quantity > 0">Almost sold out!</p>
            <p v-else>Out of stock</p>

            <p>Shipping: {{shipping}}.

            <Details :details="details"></Details>

            <div v-for="(variant, idx) in variants"
                :key="variant.id"
                class="color-box"
                :style="{ backgroundColor: variant.color }"
                @mouseover="updateProduct(idx)"
                >
            </div>

            <div v-for="size in sizes" :key="size">{{size}}</div>

            <p>{{description}}</p>
            <a :href="link" target="_blank">More like this</a>

            <button v-on:click="addToCart"
                :disabled="quantity === 0"
                :class="{ disabledButton: quantity === 0 }">Add to cart</button>
            <button v-on:click="remFromCart">Remove from cart</button>

        </div>

        <Tabs :reviews="reviews" :productEventBus="eventBus" @submit-review="addReview"></Tabs>

    </div>
</div>

</div>
</template>

<script>
import Vue from 'vue'
import Details from '@/components/Details'
import Tabs from '@/components/Tabs'

export default {
  name: 'Product',
  components: {
    Details,
    Tabs
  },
  props: {
    premium: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      brand: 'Vue Masterful',
      product: 'Socks',
      description: 'You wear them btwn foot and shoe.',
      selectedVariantIdx: 0,
      link: 'https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=socks',
      details: ['80% cotton', '20% polyester', 'Gender-neutral'],
      variants: [
        {
          id: 2234,
          color: 'Green',
          image: './static/vmSocks-green.jpg',
          quantity: 0
        },
        {
          id: 2235,
          color: 'Blue',
          image: './static/vmSocks-blue.jpg',
          quantity: 8
        }
      ],
      sizes: ['S', 'M', 'L'],
      reviews: [],
      eventBus: new Vue()
    }
  },
  methods: {
    addToCart: function () {
      this.$emit('add-to-cart', this.variants[this.selectedVariantIdx].id)
    },
    remFromCart: function () {
      this.$emit('rem-from-cart', this.variants[this.selectedVariantIdx].id)
    },
    updateProduct: function (variantIdx) {
      this.selectedVariantIdx = variantIdx
    },
    addReview (productReview) {
      this.reviews.push(productReview)
    }
  },
  computed: {
    title () {
      return this.brand + ' ' + this.product
    },
    image () {
      return this.variants[this.selectedVariantIdx].image
    },
    quantity () {
      return this.variants[this.selectedVariantIdx].quantity
    },
    shipping () {
      if (this.premium) {
        return 'free'
      } else {
        return '$2.99'
      }
    }
  },
  mounted () {
    this.eventBus.$on('submit-review', productReview => {
      this.reviews.push(productReview)
    })
  }
}
</script>
