<template>
<div>
<form class="review-form" @submit.prevent="onSubmit">

    <p>
        <label for="name">Name:</label>
        <input id="name" v-model="name">
    </p>

    <p>
        <label for="review">Review:</label>
        <textarea id="review" v-model="review" required></textarea>
    </p>

    <p>
        <label for="rating">Rating:</label>
        <select id="rating" v-model.number="rating">
            <option>5</option>
            <option>4</option>
            <option>3</option>
            <option>2</option>
            <option>1</option>
        </select>
    </p>

    <p>
        <input type="submit" value="Submit">
    </p>

</form>
</div>
</template>

<script>
import Vue from 'vue'

export default {
  props: {
    productEventBus: {
      type: Vue,
      required: true
    }
  },
  data () {
    return {
      name: null,
      review: null,
      rating: null
    }
  },
  methods: {
    onSubmit () {
      let productReview = {
        name: this.name,
        review: this.review,
        rating: this.rating
      }
      this.productEventBus.$emit('submit-review', productReview)
      this.name = null
      this.review = null
      this.rating = null
    }
  }
}
</script>
