<template>
<div>

<span class="tab"
    :class="{activeTab: selectedTab === tab}"
    v-for="(tab, idx) in tabs"
    :key="idx"
    @click="selectedTab = tab"
    >
    {{tab}}
</span>

<div v-show="selectedTab === 'Reviews'">
    <p v-if="!reviews.length">There are no reviews yet.</p>
    <ul>
        <li v-for="review in reviews" :key="review.name">
            <p>{{review.name}}</p>
            <p>{{review.rating}}</p>
            <p>{{review.review}}</p>
        </li>
    </ul>
</div>

<Review :productEventBus="productEventBus" v-show="selectedTab === 'Make a review'"></Review>

</div>
</template>

<script>
import Vue from 'vue'
import Review from '@/components/Review'

export default {
  components: {
    Review
  },
  props: {
    reviews: {
      type: Array,
      required: true
    },
    productEventBus: {
      type: Vue,
      required: true
    }
  },
  data () {
    return {
      tabs: [
        'Reviews',
        'Make a review'
      ],
      selectedTab: 'Reviews'
    }
  }
}
</script>
